/* 
¿Cómo podría agregar peso a la definición de fuente global(global font definition) para ganarse las clases agregadas por el punto 3?

#no-js * {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//// Agregandole un ID a la etiqueta html e indicando que a todos los elemntos hijos se aplique la fuente

*/


/* 
Imagine que hay una declaración como class=”no-puedo-usar-inline-styles” style=”background:red” y necesita cambiar el fondo a verde sin cambiar el estilo en línea. ¿Cómo podrías lograr esto?

.no-puedo-usar-inline-styles{
  background-color: green !important;
}

/// Solo se lograria poniendo !important en la definicion de la clase, pero se recomienda evitar su uso
/// porque hace mas complicado hacer el codigo mantenible.
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html * {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body>header {
  background-color: gray;
  text-align: center;
}

body>footer {
  background-color: #006400;
  text-align: center;
}

aside {
  background-color: #8B008B;
}

nav {
  background-color: #FF8C00;
}

.header {
  font-size: 46px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.navigation {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

[class$="r"] {
  background-color: magenta;
}

[class*="a"]:not([class$="r"] ) {
  background-color: blue;
}