/* 
¿Cómo podría agregar peso a la definición de fuente global(global font definition) para ganarse las clases agregadas por el punto 3?

#no-js * {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//// Agregandole un ID a la etiqueta html e indicando que a todos los elemntos hijos se aplique la fuente

*/


/* 
Imagine que hay una declaración como class=”no-puedo-usar-inline-styles” style=”background:red” y necesita cambiar el fondo a verde sin cambiar el estilo en línea. ¿Cómo podrías lograr esto?

.no-puedo-usar-inline-styles{
  background-color: green !important;
}

/// Solo se lograria poniendo !important en la definicion de la clase, pero se recomienda evitar su uso
/// porque hace mas complicado hacer el codigo mantenible.
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
  gap: 20px;
}

body>header {
  background-color: gray;
  text-align: center;
 /*  grid-column: 2/3;
  grid-row: 2; */
}

body>footer {
  background-color: #006400;
  text-align: center;
}

aside {
  background-color: #8B008B;
}

nav {
  background-color: #FF8C00;
}

.header {
  font-size: 46px;
  /* grid-column-start:1;
  grid-column-end: 4; */
  grid-column: 1/4;
  grid-row: 1;
}

.footer {
  font-size: 10px;
  grid-column: 1/4;
  grid-row: 3;
}

.content {
  font-size: 14px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-gap: 5px;
  gap: 5px;
}
.content article {
  grid-column: 1;
  grid-row: 2;
}

.content header {
  grid-column: 1;
  grid-row: 1;
}

.content footer {
  grid-column: 1;
  grid-row: 3;
}

.navigation {
  font-size: 12px;
  grid-column: 1;
  grid-row: 2;
}

.sidebar {
  font-size: 10px;
  grid-column: 3;
  grid-row: 2;
}

[class$="r"] {
  background-color: magenta;
}

[class*="a"]:not([class$="r"]) {
  background-color: blue;
}